body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cfcfcf;
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  }
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-size: 35px; 
    width: 100%;
    background-color: #4c89e3;
    color: #FFF;
    margin-bottom: 20px;
}
  input,select{
    border-radius: 7px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  .container * {
    box-sizing: border-box;
    
  }
  
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 300px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 300px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input,
  .flex-outer li select,
  .flex-outer li textarea {
    padding: 15px;
    border: none;
    border-radius: 7px;
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.5s;
  }

  .flex-outer li button:hover{
    background-color: #4c89e3;
    color: #FFF;
}
  
  .flex-inner li {
    width: 100px;
  }